{% extends 'base.html' %}

{% block title %}Pizzeria{% endblock %}

{% block sidebar %}

    {% url 'pizzashop_pizza' as pizzashop_pizza_url %}
    {% url 'pizzashop_account' as pizzashop_account_url %}

    <div class="text-center">
        <img class="img-circle" src="{{ MEDIA_URL }}{{ request.user.pizzashop.logo }}" width="70" height="70" alt="">
        <br>
        <h5>Welcome, {{ request.user.get_full_name }}</h5>
        <h6>{{ request.user.pizzashop.name }}</h6>
    </div>
    <div class="list-group">
        <span class="text-uppercase">Profile</span>
        <a href="{% url 'pizzashop_account' %}"
           class="list-group-item {% if request.path == pizzashop_account_url %}active{% endif %}">
            Profile
        </a>
        <span class="text-uppercase">Menu</span>
        <a href="{% url 'pizzashop_pizza' %}"
           class="list-group-item {% if request.path == pizzashop_pizza_url %}active{% endif %}">
            Pizza
        </a>
    </div>
    <div class="text-center">
        <a href="{% url  'pizzashop-sign-out' %}?next={{ request.path }}" class="btn btn-red">Sign Out</a>
    </div>
{% endblock %}