{% extends 'pizzashop/base.html' %}

{% block page %}
    <div class="card">
        <div class="card-heading">
            <h4 class="card-title text-center text-white">
                Pizzas
            </h4>
        </div>
        <div class="card-body">
            <div class="text-right">
                <a href="{% url 'pizzashop_add_pizza' %}" class="btn btn-red">Add pizza</a>
                <br/>
                <br/>
            </div>
            <table class="table table-bordred table-hover table-striped">
                <thead>
                <tr class="bg-red text-white">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th class="text-center">Photo</th>
                </tr>
                </thead>
                <tbody>
                {% for pizza in pizzas %}
                    <tr>
                        <td scope="row">{{ pizza.id }}</td>
                        <td><a href="{% url 'pizzashop_edit_pizza' pizza.id%}">{{ pizza.name }}</a></td>
                        <td>{{ pizza.short_description }}</td>
                        <td>{{ pizza.price }}</td>
                        <td class="text-center">
                            <img src="{{ MEDIA_URL }}{{ pizza.image }}" width="50" height="50" alt="" class="img-rounded">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}